Airport WCF Client/Service References/AirportService/AirportEntities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirportEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirportEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vol">
    <xs:sequence>
      <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idVol" type="xs:int" />
      <xs:element minOccurs="0" name="lastTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lineNumber" type="xs:int" />
      <xs:element minOccurs="0" name="parking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vol" nillable="true" type="tns:Vol" />
  <xs:complexType name="Bagage">
    <xs:sequence>
      <xs:element minOccurs="0" name="codeIata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="compagnie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateCreation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idBagage" type="xs:int" />
      <xs:element minOccurs="0" name="idVol" type="xs:int" />
      <xs:element minOccurs="0" name="itineraire" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bagage" nillable="true" type="tns:Bagage" />
  <xs:complexType name="ArrayOfBagage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bagage" nillable="true" type="tns:Bagage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBagage" nillable="true" type="tns:ArrayOfBagage" />
</xs:schema>