Airport WCF Client/Service References/AirportService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AirportEntities" />
  <xs:element name="GetVol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AirportEntities" minOccurs="0" name="GetVolResult" nillable="true" type="q1:Vol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBagage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBagage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBagageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AirportEntities" minOccurs="0" name="GetBagageResult" nillable="true" type="q2:Bagage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBagagesFromVol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBagagesFromVolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AirportEntities" minOccurs="0" name="GetBagagesFromVolResult" nillable="true" type="q3:ArrayOfBagage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>