Airport WCF Client/Service References/AirportService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AirportEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetVol_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVol" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVol_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBagage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBagage" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBagage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBagageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBagagesFromVol_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBagagesFromVol" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBagagesFromVol_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBagagesFromVolResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetVol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVol" message="tns:IService1_GetVol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVolResponse" message="tns:IService1_GetVol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBagage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBagage" message="tns:IService1_GetBagage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBagageResponse" message="tns:IService1_GetBagage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBagagesFromVol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBagagesFromVol" message="tns:IService1_GetBagagesFromVol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBagagesFromVolResponse" message="tns:IService1_GetBagagesFromVol_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVol">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBagage">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBagage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBagagesFromVol">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBagagesFromVol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Airport_WCF_Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>